


#main-header {
  background-color: #23282D;
}

#main-header h1 {
  color: #fff;
  font-size: 1em;
  text-align: center;
}

#sidebar {
  width: 225px;
 /* flex: 0 0 12em; */
  /*background-color: #23282D;*/
}

#sidebar ul {
  padding: 0;
  list-style-type: none;
  /* background-color: #32373C; */
}

#sidebar ul li {
  color: #6666ff;
  padding: 0 0 10px 20px;
}

#sidebar ul li:hover {
  cursor: pointer;
  background-color: #32373C;
}

#post-container {
  flex: 1;
  background-color: #eee;
  padding: 20px;
}

#intro {
  display: none;
}

blockquote {
  font-style: italic;
  margin: 1em 1em 1em 0;
}

blockquote:before,
blockquote:after {
  content: '"';
}

.author {
  width: 100%;
  display: inline-block;
  text-indent: 5%;
}

.author:before {
  content: '-';
}


body {
   font-family: helvetica, sans-serif}

.welcome{
	font-size: 40px;
	text-emphasis-color:  #000069 ;
	color: #000066;
	font-weight: bold;
	font-family: helvetica, sans-serif;
}

.title{
		text-indent: 30px; color: hsl(300, 100%, 20%);
	font-weight: bold;font-family: helvetica, sans-serif;
}

.title2{
		text-indent: 30px; color: #efefef;
	font-weight: bold;font-family: helvetica, sans-serif;
}

.text1{
	color:  hsl(300, 100%, 20%);
	font-weight: bold;font-family: helvetica, sans-serif;
}

h1 {
	text-transform: uppercase;
	text-emphasis-color:  #000069 ;
	color: #000066;
	font-weight: bold;
	font-family: helvetica, sans-serif;
}

header {
  display: flex;
  padding: 5px;
  color: #efefef;
  background-color: #2D2D2D;
  border-bottom: solid 1px #000;
}

header .header-title {
  display: inline-block;
}



h2 {
	text-indent: 30px; color: #000066;
	font-weight: bold;font-family: helvetica, sans-serif;
}
h3 {
	text-indent: 3; color: #000066;
	font-weight: bold;font-family: helvetica, sans-serif;
}

h4 {
	text-indent: 3; color: #efefef;
	font-weight: bold;font-family: helvetica, sans-serif;
}

p {
	color: rgb(102, 102, 51);
	font-weight: bold;
}

.text {
	color: rgb(0, 51, 0);

}

figure img {
	width:800px;
	height: 600px;
}

.messages {
font-family: helvetica, sans-serif;
margin-bottom: 20px;
}

.out-message {
padding: 5px;
background: #B0C4DE;
}

.in-message {
padding: 5px;
background-color: #DDA0DD;
}


/* main styles */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #555555;
  margin: 0;
}

header {
  display: flex;
  padding: 5px;
  color: #efefef;
  background-color: #2D2D2D;
  border-bottom: solid 1px #000;
}

header .header-title {
  display: inline-block;
}

header .header-menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #777;
  font-size: smaller;
}

main {
  flex: 1;
}

main #display-content {
  padding: 20px;
}

/* modal styles */
#modal-backdrop {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
}

#modal-backdrop.visible {
  display: block;
}

.modal {
  display: none;
  position: absolute;
  padding: 10px;
  border: solid 1px #555;
  background-color: #fff;
  z-index: 99999;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal.visible {
  display: block;
}

.modal-content {
  width: 300px;
  height: 300px;
}

#edit-title-text {
  width: 300px;
}

#edit-content-text {
  width: 100%;
  box-sizing: border-box;
}

 /* Image upload Propoerties */
    .thumb {
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }
